@model Control_Estoque.Models.Estoque

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="title">Detalhes do estoque</h1>

<div>
    <h4 class="subtitle">Estoque número: @Html.DisplayFor(model => model.IdEstoque)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEstoque)
        </dd>

        <dt class = "col-sm-2">
            Quantidade de produtos:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeDeItensNoEstoque)
        </dd>

        <dt class = "col-sm-2">
            Ativo:  
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtivEstoque)
        </dd>
    </dl>
</div>

<table class="table table-sm table-striped table-bordered">
    <thead class="align-center">
        <tr>
            <th>
                Produto
            </th>
            <th>
                Quantidade no estoque
            </th>
            <th>
                Quantidade mínima
            </th>
            
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<div> <a class="btn btn-primary btn_margin_form" asp-action="Edit" asp-route-id="@Model?.IdEstoque">Editar</a>
    <a class="btn btn-danger btn_margin_form" asp-action="Index">Voltar</a>
</div>
