@model Control_Estoque.Models.InventarioProduto

@{
    ViewData["Title"] = "Inventário por produto";
}

<h2 class="title">Inventário por produto</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdInv" class="control-label">Código inventário</label>
                <select asp-for="IdInv" class ="form-control" asp-items="ViewBag.IdInv"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodProduto" class="control-label">Produto</label>
                <select asp-for="CodProduto" class ="form-control" asp-items="ViewBag.CodProduto"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMov" class="control-label"> Movimentação</label>
                <select asp-for="TipoMov" class="form-control">
                    @foreach (var tipoMov in ViewBag.TipoMov)
                    {
                        <option value="@tipoMov">@tipoMov</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn_margin_form"
                    style="margin-top: 20px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger btn_margin_form" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
