<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle de estoque </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Control_Estoque.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CONTROLE DE ESTOQUE </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse style="display: flex; flex-direction: column;">
                    <ul class="navbar-nav flex-grow-1" style="flex-wrap: wrap;>
                        <li  home_button">
                            <a class="button-22 text-white" style="margin-left:30px;" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                         <li  home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="Produtos" asp-action="Index">Cadastro Produtos</a>
                        </li>
                         <li  home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="Estoques" asp-action="Index">Cadastro Estoque</a>
                        </li>
                        <li>
                            <a class="button-22 text-white" asp-area="" asp-controller="Fornecedor" asp-action="Index">Cadastro Fornecedores</a>
                        </li>
                        <li home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="Inventario" asp-action="Index">Cadastro Inventário</a>
                        </li>
                        <li home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="Home" asp-action="Index">Relatórios</a>
                        </li>
                        <li home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="EstoqueProduto" asp-action="Index">Movimentação</a>
                        </li>
                        <li home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="InventarioProduto" asp-action="Index">Movimento por Inventario</a>
                        </li>
                        <li home_button">
                            <a class="button-22 text-white" asp-area="" asp-controller="ProdutoFornecedorRecebs" asp-action="Index">ProdutoFornecedor</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
