@model Control_Estoque.Models.EstoqueProduto

@{
    ViewData["Title"] = "Editar";
}

<h1>Movimentação</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EstoqueId" />
            <input type="hidden" asp-for="CodProduto" />
            <div class="form-group">
                <label asp-for="Qtde" class="control-label">Atualizando quantidade</label>
                <br></br>
                <input asp-for="Qtde" class="form-control" />
                <span asp-validation-for="Qtde" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary btn_margin_form" style="margin-top: 20px;" />
    </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger btn_margin_form" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
