@model Control_Estoque.Models.Inventario

@{
    ViewData["Title"] = "Excluir";
}

<h1>EXCLUSÃO</h1>

<h3>Você tem certeza que deseja excluir este produto?</h3>
<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Código Estoque:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstoque)
        </dd>
        <dt class = "col-sm-2">
            Tipo movimentação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMov)
        </dd>
        <dt class = "col-sm-2">
            Data movimentação:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMov)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdInv" />
        <input class="btn btn-danger btn_margin_form" type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-primary btn_margin_form" asp-action="Edit" asp-route-id="@Model?.IdInv">Editar</a>
        <a class="btn btn-secondary btn_margin_form" asp-action="Index">Voltar</a>
    </form>
</div>
