@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Email confirmado";
}

<h1 style="margin-bottom: 30px;">@ViewData["Title"]</h1>

<div class="alert alert-success">
    Email confirmado com sucesso.
</div>
