html {
    font-size: 14px;
    font-family: system-ui;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin: 0 5px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.display-5 {
    margin-top: 40px;
}

.form-control {
    margin-bottom: 10px;
}

.input-placeholder::placeholder {
    font-size: 12px;
    color: grey;
}

.title {
    margin-bottom: 30px;
    font-size: 32px;
}

.btn {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-lg {
    width: 100%;
    text-align: left;
}
.btn_margin_form{
    width: 150px;
}

.option {
    font-size: 10px;
}

.container2 {
    display: inline-flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.image-side {
    width: 60%;
    height: 50%;
    margin-top: 100px;
}

.blank-side {
    width: 40%;
    right: 0;
    margin-left: 300px;
    padding: 0;
    text-align: right;
}

.align-center {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    align-content: center;
}

.align-left {
    text-align: left;
    vertical-align: middle;
    justify-content: center;
}

.align-right {
    text-align: right;
    vertical-align: middle;
}

.policy-container {
    overflow: auto;
    height: 90%;
}

.citacao {
    text-align: justify;
    font-style: italic;
    font-size: 16px;
    color: gray;
    margin-top: 150px;
}

.title_home {
    margin-top: 110px;
    font-size: 40px;
    text-align: left;
}

.home-accordion {
    height: 50%;
    width: 50%;
    margin-left: 0;
    margin-top: -300px;
}

.button-38 {
    align-items: center;
    appearance: button;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    margin: 0;
    padding: 2%;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    transition: color 0.13s ease-in-out, background 0.13s ease-in-out, opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
    user-select: none;
    width: 120px;
}

.button-23 {
    align-items: center;
    appearance: button;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 100%;
    line-height: 1.15;
    justify-content: center;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    transition: color 0.13s ease-in-out, background 0.13s ease-in-out, opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
    user-select: none;
    width: 200px;
}

.button-22 {
    align-items: center;
    appearance: button;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgb(255, 255, 255) 0 1px 2px inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 100%;
    line-height: 1.15;
    justify-content: center;
    margin-top: 5%;
    padding: 1%;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    transition: color 0.13s ease-in-out, background 0.13s ease-in-out, opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
    user-select: none;
    width: 200px;
}

.button-22 {
    background-color: #003675;
}

.button-22:active {
    background-color: #006AE8;
}

.button-22:hover {
    background-color: #1C84FF;
}

.button-23,
.button-38 {
    background-color: #032245;
}

.button-23:active,
.button-38:active {
    background-color: #00142b;
}

.button-23:hover,
.button-38:hover {
    background-color: #013575;
}

.collapse{
    width: 100%;
}
.div-login{
    width: 20%;
}

.dropdown-content,
.dropdown-consultas,
.dropdown-movimentacoes {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown-consultas a,
.dropdown-movimentacoes a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-item.dropdown:hover .dropdown-content,
.nav-item.dropdown:hover .dropdown-consultas,
.nav-item.dropdown:hover .dropdown-movimentacoes {
    display: block;
}